.themeSwitcher {
    align-items: center;
    border: 2px solid var(--secondary-text);
    border-radius: 30px;
    color: var(--secondary-text);
    cursor: pointer;
    display: flex;
    height: 25px;
    padding: 2px;
    position: relative;
    transition: all 0.5s;
    width: 60px;
}

.switcherWrapper {
    display: flex;
    height: 25px;
    padding: 0 30px;
}

.themeSwitcher::before {
    color: (--secondary-text);
    content: "☀";
    font-size: 28px;
    height: 25px;
    left: -28px;
    position: absolute;
    top: 0;
    width: 40px;
}

.themeSwitcher::after {
    color: (--secondary-text);
    content: "☾";
    font-size: 28px;
    height: 25px;
    position: absolute;
    right: -45px;
    top: 0;
    width: 40px;
}

.button {
    background-color: var(--secondary-text);
    border-radius: 50%;
    height: 19px;
    width: 19px;
}

.dark {
    justify-content: end;
}

.light {
    justify-content: start;
}

.green {
    justify-content: center;
}
