@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/green";

body {
    color: var(--primary-text);
    font: var(--font-m);
}

.app {
    background-color: var(--bg-color);
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    font: var(--font-m);
    min-height: 100vh;
}

a {
    color: var(--accent);
}

.content-page {
    display: flex;

    @media screen and (max-width: 400px) {
        flex-direction: column;
    }
}

.page-wrapper {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    padding: 20px;
    width: 100%;
}
