.OrderStatusInput {
    padding: 0;
}

.input_wrapper {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.info_wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
}

.name_box {
    padding: 5px 0;
    width: calc(100% - 50px);
}

.color_block {
    border-radius: 15px;
    height: 30px;
    max-width: 30px;
    min-width: 30px;
}

.color_input input {
    cursor: pointer;
    min-height: 40px;
    padding: 2px !important;
}

.name_block {
    background-repeat: 8px;
    bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 5px 15px;
    width: 100%;
}

.button_wrapper {
    display: flex;
    gap: 5px;
}

.icon {
    fill: var(--primary-text);
}

.button_wrapper button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 30px;
}

.color_block input {
    border: 0;
    border-radius: 4px;
    height: 40px;
    margin: 5px;
    padding: 0 !important;
}
