.Flex {
    display: flex;
}

.max {
    width: 100%;
}

.slim {
    max-width: 100%;
    width: 350px;

    @media screen and (max-width: 1450px) {
        width: 250px;
    }

    @media screen and (max-width: 1099px) {
        width: 100%;
    }
}

.wide {
    max-width: 100%;
    width: 800px;

    @media screen and (max-width: 1450px) {
        width: clamp(400px, 600px, 800px);
    }

    @media screen and (max-width: 1099px) {
        width: 100%;
    }
}

.center {
    margin: 0 auto;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}
