.OrderListItem {
    align-items: center;
    border-bottom: 1px solid  rgb(0 0 0 / 10%);
    font-size: 14px;
    height: 50px;
    padding: 5px 0;
    width: 100%;
}

.item {
    cursor: pointer;
    overflow-x: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
}

.number {
    cursor: pointer;
    padding: 0 10px;
}

.del {
    align-items: center;
    cursor: pointer;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.icon {
    cursor: pointer;
    fill: var(--primary-text);
}

.date {
    cursor: pointer;
    min-width: 120px;
    padding: 0 10px;
    text-align: center;
}

.status {
    cursor: pointer;
    min-width: 150px;
    padding: 0 10px;
    text-align: center;
}
