.Avatar {
border-radius: 50%;
background-color: #666;
}

.small {
  width: 40px;
  height: 40px;
}

.medium {
  width: 60px;
  height: 60px;
}

.large {
  width: 100px;
  height: 100px;
}

.xlarge {
  width: 220px;
  height: 220px;
}