.Sidebar {
    background-color: var(--inverted-bg-color);
    color: var(--primary);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: width 0.5s ease;
    width: var(--sidebar-width);
    padding: 20px 20px;
}
 
.toggle_btn {
    align-items: center;
    background-color: var(--nav-links-color);
    bottom: 50px;
    color: var(--btn-text);
    display: flex;
    font-size: var(--font-size-l);
    height: 45px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 35px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link {
  display: flex;
}
.link div {
  transition: opacity 0.2s;
  opacity: 1;
}
.icon {
  fill: var(--nav-links-color);
  margin-right: 20px;
}



.collapsed {
  width: var(--sidebar-width-collapsed);

  .link div {
    width: 0;
    height: 0;
    opacity: 0;
  }
.icon {
  margin-right: 0;
}
  .list {
    justify-content: center;
    align-items: center;
  }
}