.Sidebar {
    background-color: var(--inverted-bg-color);
    color: var(--primary);
    height: calc(100vh - var(--navbar-height));
    position: relative;
    transition: width 0.5s ease;
    width: var(--sidebar-width);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.toggle_btn {
    align-items: center;
    background-color: var(--nav-links-color);
    bottom: 50px;
    color: var(--primary-text);
    display: flex;
    font-size: var(--font-size-l);
    height: 45px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 35px;
}
