.Text {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--primary-text);
    font: var(--font-l);
}

.text {
    color: var(--secondary-text);
    font: var(--font-m);
}

.warning {
    color: #f00;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
