.ProjectEdit {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
