.Calendar {
    align-items: center;
}

.Calendar h1 {
    margin-bottom: 40px;
}

.navWrapper {
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.monthName {
    font-size: 28px;
    font-weight: bold;
}

.bodyWrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.day {
    background-color: var(--darker-bg-color);
    border-radius: 9px;
    height: 150px;
    overflow-y: auto;
    padding: 5px 10px;
    text-overflow: ellipsis;
}

.daysWrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
    width: 100%;
}

.dayName {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}
