.ImageSlider {
    display: grid;
    gap: 10px;
    max-width: 800px;
    position: relative;

    @media screen and (max-width: 1200px) {
        align-items: start;
        flex-direction: row;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.left {
    grid-template-columns: 120px 1fr;
}

.right {
    grid-template-columns: 1fr 120px;
}

.bottom {
    grid-template-columns: 1fr;
}

.arrow {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 5;

    &:hover {
        scale: 1.2;
        transition: all 0.5s;
    }
}

.icon {
    fill: var(--primary-text);
}

.arrow-right {
    right: -20px;
    transform: translateY(-50%);
}

.arrow-left {
    left: -20px;
    transform: translateY(-50%);
}

.large_image_wrapper {
    aspect-ratio: 6/8;
    min-width: 500px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.large_image_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.5s;
}

.img_large {
    aspect-ratio: 6/8;
    border-radius: 9px;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    position: absolute;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

.img_preview_wrapper {
    align-content: start;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    min-height: 100%;
    overflow-y: auto;
    width: 100%;

    &::-webkit-scrollbar {
        height: 100%;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--bg-color);    /* цвет плашки */
    }

    &::-webkit-scrollbar-thumb {
        background: var(--darker-bg-color);        /* цвет дорожки */
        border-radius: 20px;       /* закругления плашки */
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.img_preview_wrapper-left {
    aspect-ratio: 1;
    grid-column: 1;
    grid-row: 1;
}

.img_preview_wrapper-right {
    aspect-ratio: 1;
    grid-column: 2;
    grid-row: 1;
}

.img_preview_wrapper-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.img_preview {
    aspect-ratio: 1/1;
    border: 2px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
}

.active {
    border: 2px solid var(--accent);
    transition: all 0.5s;
}

.lastSlideAnimation {
    animation: last-slide 0.5s;
}

@keyframes last-slide {
    0% {
        translate: 3d(-50%, 0, 0);
    }

    50% {
        translate: 3d(-100%, 0, 0);
    }

    100% {
        translate: 3d(0, 0, 0);
    }
}
