@import './reset.scss';
@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
  font: var(--font-m);
  background-color: var(--bg-color-primary);
  color: var(--primary-text);
  min-height: 100vh;
}
h1 {
  font: var(--font-l);
}