.Sidebar {
    background-color: var(--darker-bg-color);
    color: var(--primary);
    height: calc(100vh - var(--navbar-height));
    padding: 20px;
    position: relative;
    transition: width 0.5s ease;
    width: var(--sidebar-width);

    @media screen and (max-width: 400px) {
        bottom: 0;
        left: 0;
        min-height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
}

.toggle_btn {
    align-items: center;
    background-color: var(--nav-links-color);
    bottom: 50px;
    color: var(--btn-text);
    display: flex;
    font-size: var(--font-size-l);
    height: 45px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 35px;

    @media screen and (max-width: 400px) {
        display: none;
    }
}

.list {
    display: flex;
    flex-direction: column;
}

.logo {
    transition: width 0.3s ease;
    width: 200px;
}

.collapsed {
    padding: 20px 10px;
    width: var(--sidebar-width-collapsed);

    .list {
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 60px;
    }
}
