.Sidebar {
    background-color: var(--darker-bg-color);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - var(--navbar-height));
    padding: 20px;
    position: relative;
    transition: width 0.5s ease;
    width: var(--sidebar-width);

    @media screen and (max-width: 600px) {
        bottom: 0;
        left: 0;
        min-height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
}

.toggle_btn {
    align-items: center;
    background-color: var(--nav-links-color);
    bottom: 45px;
    color: var(--btn-text);
    display: flex;
    font-size: var(--font-size-l);
    height: 90px;
    justify-content: center;
    position: absolute;
    right: -5px;
    width: 35px;

    @media screen and (max-width: 600px) {
        right: -5px;
    }
}

.logo {
    transition: width 0.3s ease;
    width: 200px;
}

.link {
    display: flex;
}

.link div {
    opacity: 1;
    overflow: hidden;
    transition: width ease 0.4s;
}

.icon {
    fill: var(--primary-text);
    margin-right: 20px;
}

.collapsed {
    padding: 20px 10px;
    width: var(--sidebar-width-collapsed);

    .list {
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 60px;
    }

    &.link div {
        height: 0;
        width: 0;
    }

    .icon {
        margin-right: 0;
    }

    @media screen and (max-width: 600px) {
        padding: 0;

        .logo,
        .only_mobile {
            display: none;
        }

        .toggle_btn {
            right: -35px;
        }
    }
}

.menu-item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: flex-start;
    padding: 5px 10px;
    width: 100%;
}

.only_mobile {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    width: 100%;

    @media screen and (max-width: 600px) {
        display: flex;
    }
}

.switcher_wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn {
    display: flex;
    width: 100%;
}

.btn button {
    width: calc(100% - 30px);
}
