.ProjectHeader {
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
}

.projectName {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-start;
    min-width: 200px;
}

.stageWrapper {
    border-right: 1px solid var(--bg-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: #3d3b3b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.stepTitle {
    align-content: stretch;
    display: grid;
    text-align: center;
}

.stepWrapper {
    align-items: center;
    background-color: rgb(0 0 0 / 5%);
    border-radius: 9px;
    border-right: 1px solid var(--bg-color);
    display: flex;
    font-size: 14px;
    height: 70px;
    justify-content: center;
    line-height: 13px;
    overflow: hidden;
    padding: 20px 10px;
}
