.langSwitcher {
    align-items: center;
    border: 2px solid var(--secondary-text);
    border-radius: 30px;
    color: var(--secondary-text);
    cursor: pointer;
    display: flex;
    height: 25px;
    padding: 2px;
    position: relative;
    transition: ease 0.3s;
    width: 60px;
}

.switcherWrapper {
    display: flex;
    height: 25px;
    padding: 0 20px;
}

.langSwitcher::before {
    color: var(--secondary-text);
    content: "ru";
    font-size: 18px;
    height: 25px;
    left: -25px;
    position: absolute;
    top: 0;
    width: 40px;
}

.langSwitcher::after {
    color: var(--secondary-text);
    content: "en";
    font-size: 18px;
    height: 25px;
    position: absolute;
    right: -48px;
    top: 0;
    width: 40px;
}

.button {
    background-color: var(--secondary-text);
    border-radius: 50%;
    height: 19px;
    width: 19px;
}

.eng {
    justify-content: end;
}

.rus {
    justify-content: start;
}
