.app_green_theme {
    --bg-color: #e3eae7;
    --darker-bg-color: #346956;
    --nav-links-color: #ea0071;
    --accent: #345565;
    --primary-text: #1f2120;
    --secondary-text: #4f5150;
    --btn-text: #fff;

    // Alert colors

    --info-bg: rgb(139 208 254 / 30%);
    --info-icon: rgb(39 131 192);
    --warning-bg: rgb(254 233 139 / 30%);
    --warning-icon: rgb(209 167 28);
    --error-bg: rgb(255 137 161 / 37.9%);
    --error-icon: rgb(228 40 72);
    --success-bg: rgb(133 255 112 / 22.8%);
    --success-icon: rgb(23 132 41);
}
