.Project {
  position: relative;
}
.stage_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.btn {
  display: flex;
  width: 100%;
  margin: 5px;
}
.delBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}