.CloseBtn {
    align-items: center;
    border: 2px solid var(--secondary-text);
    border-radius: 50%;
    color: var(--primary-text);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
}
