.page_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.ClientDetailPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.title {
    margin-bottom: 20px;
}

.small_column {
    margin: 0 20px;
    max-width: 100%;
    width: 350px;

    @media screen and (max-width: 1200px) {
        margin: 0 5px;
        width: 100%;
    }
}

.big_column {
    margin: 0 20px;
    max-width: 100%;
    width: 800px;

    @media screen and (max-width: 1200px) {
        margin: 0 5px;
        width: 100%;
    }
}
