.ALertInformer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    max-width: 100%;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 400px;
    z-index: 1000;
}
