.AppButton {
    border: none;
    color: var(--primary-text);
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 5px 20px;
    text-transform: uppercase;
    width: auto;
}

.clear {
    background-color: transparent;
    padding: 0;
}

.outlined {
    background-color: transparent;
    border: 1px solid var(--accent);
}

.solid {
    background-color: var(--accent);
}
