.AppButton {
    border: none;
    color: var(--primary-text);
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 5px 20px;
    text-transform: uppercase;
    width: auto;
}

.clear {
    background-color: transparent;
    padding: 0;
}

.outlined {
    background-color: transparent;
    border: 1px solid var(--accent);
}

.solid {
    background-color: var(--accent);
}

.square {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.size_m {
  width: var(--font-line-m);
  height:var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height:var(--font-line-l);

}
.square.size_xl {
  width: var(--font-line-xl);
  height:var(--font-line-xl);

}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}
.size_xl {
  font: var(--font-xl);
}