.Navbar {
    align-items: center;
    background-color: var(--inverted-bg-color);
    display: flex;
    gap: 40px;
    height: var(--navbar-height);
    justify-content: space-between;
    padding: 0 20px;
}

.list {
    display: flex;
    gap: 20px;
}

.switcherWrapper {
    display: flex;
    gap: 40px;
}
