.Modal {
    bottom: 0;
    font: var(--font-m);
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--modal-z-index);
}

.overlay {
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    background-color: var(--bg-color);
    border-radius: 20px;
    color: var(--primary-text);
    max-height: 90%;
    max-width: 90%;
    min-height: 300px;
    overflow-y: auto;
    padding: 40px 20px;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    width: 600px;
    z-index: 12;
}

.close-btn {
    color: var(--accent);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.closed {
    opacity: 0;
    pointer-events: none;
    z-index: -1;

    .content {
        transform: scale(0.5);
    }
}
