.Table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.header {
 tr {
  height: 50px;
  border-bottom: 1px solid var(--secondary-text);
 }
 th {
  padding: 5px 10px;
  min-width: 40px;
 }
}

.row {
background-color: var(--darker-bg-color);
cursor: pointer;
}

// .row:hover { 
//   background-color: var(--accent);
//   color: #fff;

// }