.Table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.header {
    tr {
        background-color: var(--darker-bg-color);
        border-bottom: 1px solid var(--secondary-text);
        height: 50px;
    }

    th {
        min-width: 40px;
        padding: 5px 10px;
    }
}

.row {
    cursor: pointer;
}
