.title {
    margin-bottom: 20px;
}

.button_wrapper {
    margin-bottom: 20px;

    button {
        display: flex;
        margin-bottom: 5px;
        width: 100%;
    }
}

.icon {
    fill: var(--primary-text);
    margin-right: 10px;
}
