.Pagination {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper {
    display: flex;
    margin-bottom: 20px;
}

.page {
    align-items: center;
    background: var(--darker-bg-color);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    list-style: none;
    margin-right: 5px;
    min-width: 40px;
    padding: 10px;
}

.info {
    font-size: 12px;
    line-height: 18px;
}
