.ProductList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list_header {
    align-items: center;
    display: grid;
    font-size: 14px;
    font-weight: bold;
    gap: 10px;
    grid-template-columns: 40px minmax(200px, 1fr) 100px 80px 80px 80px 100px 150px 40px;
    width: 100%;
}

.center {
    text-align: center;
}
