.ProfileCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.edit_icon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.item {
    display: flex;
}

.avatar {
    border-radius: 150px;
    width: 300px;
}

.wrapper {
    display: flex;
    gap: 20px;
}

.info_container {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}
