.ClientsPage {
    display: flex;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.client_list {
    margin-bottom: 20px;
}

.top_menu {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 60px;
    justify-content: space-between;
}

.toggle_item {
    align-items: center;
    display: flex;
}

.searchBlock {
    flex-grow: 1;
}

.icon {
    fill: var(--primary-text);
    margin-right: 5px;
    transform: scale(0.8);
}
