.ProjectRow {
    align-items: center;
    display: flex;
    min-width: 100%;
}

.step_wrapper {
    align-content: stretch;
    display: grid;
    text-align: center;
}

.project_info {
    min-width: 200px;
    text-overflow: ellipsis;
}

.project_title {
    font-weight: bold;
}

.project_title a {
    color: var(--primary-text),;
}

.status_wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 12px;
}

.color_bullet {
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.status {
    font-size: 12px;
    text-overflow: ellipsis;
}
