.ProjectsPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project_wrapper {
    overflow-x: auto;
    width: 100%;
}

.project_wrapper::-webkit-scrollbar {
    height: 5px;
    width: 100%;
}

.project_wrapper::-webkit-scrollbar-track {
    background-color: var(--darker-bg-color);    /* цвет плашки */
}

.project_wrapper::-webkit-scrollbar-thumb {
    background: var(--secondary-text);        /* цвет дорожки */
    border-radius: 20px;       /* закругления плашки */
}
