.Dropdown {
    padding: 0;
    position: relative;
}

.menu {
    background-color: var(--darker-bg-color);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    margin-block: 10px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    z-index: 10000;
}

.btn {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline-color: transparent;
}

.item {
    background-color: transparent;
    border: 0;
    border-radius: 7px;
    color: var(--primary-text);
    cursor: pointer;
    padding: 5px 15px;
}

.active {
    background-color: var(--accent);
    color: var(--primary-color);
}

.bottom-right {
    right: 0;
    top: 100%;
}

.bottom-left {
    left: 0;
    top: 100%;
}

.top-right {
    bottom: 100%;
    right: 0;
}

.top-left {
    bottom: 100%;
    left: 0;
}
