.OrdersPage {
    width: 100%;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.top_menu {
    align-items: center;
    gap: 20px;
    height: 60px;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        height: auto;
    }
}

.toggle_item {
    align-items: center;
    display: flex;
}

.searchBlock {
    flex-grow: 1;
}

.orders_list {
    margin-bottom: 20px;
}
