.OrdersPage {
    width: 100%;
}

.header {
    text-align: center;
}

.top_menu {
    height: 60px;

    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        height: auto;
    }
}

.toggle_item {
    align-items: center;
    display: flex;
}

.searchBlock {
    flex-grow: 1;
}

